:host {
  display: block;
}

.status {
    padding: 8px 10px;
    color: var(--buttonText-1);
    border-radius: 8px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;

    &--danger {
        background-color: var(--red-1);
    }

    &--warning {
        background-color: var(--yellow-1);
    }

    &--success {
        background-color: var(--green-1);
    }
}
