.slide-in {
  animation: slideIn 700ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.slide-out {
  animation: slideOut 200ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-120px) scale(0.96);
    margin-top: -40px;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    margin-top: 6px;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
    margin-top: 6px;
  }
  100% {
    opacity: 0;
    transform: translateY(-120px) scale(0.94);
    margin-top: -40px;
  }
}
