:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  //background-color: #fff;
  background: #0f0f10;


  background: var(--bg-main);
  //radial-gradient(
  //                circle at 25% 30%,
  //                rgba(255, 255, 255, 0.06) 0%,
  //                rgba(255, 255, 255, 0) 40%
  //),
  //radial-gradient(
  //                circle at 80% 70%,
  //                rgba(255, 255, 255, 0.04) 0%,
  //                rgba(255, 255, 255, 0) 45%
  //),
  //var(--bg-main);

  //filter: brightness(1.05) contrast(1.05);  }
  transition: background 0.3s ease;

  &__main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    //gap: 20px;

    @media (max-width: 968px) {
      gap: 8px
    }
  }

  &__footer {
    flex-shrink: 0;
    padding: 0 20px;
    padding-bottom: 20px;
    margin-top: auto;
  }

  &::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: var(--bg-main);
    opacity: 0.05;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.12);
    mix-blend-mode: multiply;

  }
}

p-header{
  //position: sticky;
  //top: 0;
  //z-index: 100;
}

:host,
.layout,
.layout__main,
.layout__content {
  overflow: visible !important;
}
