:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  background-color: #fff;

  &__main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 968px) {
      gap: 8px
    }
  }

  &__footer {
    flex-shrink: 0;
    padding: 0 20px;
    padding-bottom: 20px;
    margin-top: auto;
  }
}
