nz-date-picker {
  height: 56px;
  border-radius: 12px!important;
  width: 340px;

  input {
    font-size: 18px!important;
  }

}

nz-time-picker {
  width: inherit;
  height: 50px;
  border-radius: 12px!important;
}

.ant-picker-time-panel-column {

  &:nth-child(3) {
    overflow: hidden !important;
    scroll-behavior: auto !important;
    max-height: 50px !important;
  }

  &:after {
    max-height: 50px!important;
    height: auto!important;
  }
}
