.radio {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    &--active {
      background-color: #e6f7ff;
      border-color: var(--button-bg);
    }
  }
}
