:host {
  display: flex;
  flex-direction: column;
  max-height: inherit;
}

//.wrapper {
//  &--opened {
//    grid-template-rows: 1fr;
//    margin-top: 0;
//  }
//  margin-top: -16px;
//  display: grid;
//  grid-template-rows: 0fr;
//  transition: ease-in-out 0.25s;
//}

//.content {
//  margin-top: 4px;
//  min-height: 0;
//  display: flex;
//  flex-direction: column;
//  grid-gap: 16px;
//}

.expander {
  $this: &;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.2s;
  //background-color: var(--green-3);
  max-height: inherit;

  &__container {
    max-height: inherit;
    overflow: scroll;
  }

  &__toggle-icon {
    transform: rotate(180deg);
    transition: transform 150ms ease;
    color: var(--secondary-1);
    margin-left: 8px;
  }

  &--expanded {
    #{$this}__toggle-icon {
      transform: rotate(0);
    }
  }
}
