
.booking__title {
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 100%;
  color: #111111;
}

.form__address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  span {
    font-weight: 500;
    font-size: 14px;
    color: #7C7C7C;
  }

  p {
    font-weight: 700;
    font-size: 32px;
    line-height: 0.8;
  }
}

.form__from-controls {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 16px;
  width: 100%;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

p-datepicker {
  margin-top: 0;
  @media (max-width: 768px) {
    //margin-top: 12px;
  }
}

.form__details {
  //width: 300px;
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid #E8E8E8;
  display: flex;
  flex-direction: column;
}

.form-passengers {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8px;

  p-select, p-input {
    max-width: 180px;
  }
}

.form__name {
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid #E8E8E8;
}

.booking__go-back {
  padding: 8px 12px 8px 24px;
  width: max-content;
  background-color: #F8F8F8;
  font-size: 14px;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  margin-top: 8px;
  cursor: pointer;
}

.booking__go-back::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 8px solid #999;
  border-radius: 2px;
}

.form__submit {
  margin-top: 20px;
}
