
:host {
    display: block;
}

.link {
    &__cell {
        display: flex;
        align-items: center;
        color: var(--blue-1);
    }

    &__content {
        width: calc(100% - 15px);
    }

    &__icon {
        margin-left: 4px;
        position: relative;
        top: 1px;
        left: -5px;
    }
}
