<!--<nz-select-->
<!--    (nzOnSearch)="search($event)"-->
<!--    [formControl]="formControl"-->
<!--    [nzAllowClear]="true"-->
<!--    [nzPlaceHolder]="placeHolder"-->
<!--    [nzShowArrow]="false"-->
<!--    nzServerSearch-->
<!--    nzShowSearch>-->
<!--  <ng-container *ngFor="let o of list$ | async">-->
<!--    <nz-option-->
<!--        *ngIf="(isLoading$ | async) === false"-->
<!--        [nzLabel]="o.name"-->
<!--        [nzValue]="o.id">-->
<!--    </nz-option>-->
<!--  </ng-container>-->
<!--  <nz-option *ngIf="(isLoading$ | async) === true" nzCustomContent nzDisabled>-->
<!--    <i class="loading-icon" nz-icon nzType="loading"></i> Загрузка...-->
<!--  </nz-option>-->
<!--</nz-select>-->
<!--a-->
