@function hexToRGBString($hexColor) {
  @return "000000#{red($hexColor)}, 000000#{green($hexColor)}, 000000#{blue($hexColor)}";
}

:root {

  --white: #FFFFFF;


  --first-1: #2B2B2B;
  --first-2: #FFFFFF;
  --first-3: #636363;

  --second-1: #8C90AD;
  --common-border: #323e50;
  --border-1: #e0e0e0;

  --content-bg-1: #F5F5F5;

  --blue-1: #1677FF;
  --blue-1-hover: #125fcc;

  --green-1: #28a745;

  --red-button: #E00000;
  --red-button-bg: rgba(255, 77, 79, 0.1);
  --red-button-bg-hover: rgba(255, 77, 79, 0.2);

  --transition-common: 0.23s ease-in;

  /** SHADOWS */
  --tooltip-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

  --brand-1: #D95BAE;
  --brand-1-hover: #8B1D64;
  --brand-1-light: #DC70B4;
  --brand-1-light-2: #EFC2DA;
  --brand-1-light-3: #F7E3F0;
  --brand-2: #C275C8;
  --brand-3: #4A89C9;

  --gray-dark-1: #333;
  --gray-dark-2: #555;
  --gray-1: #636363;
  --gray-2: #A6A6A6;
  --gray-3: #C7C7C7;
  --gray-4: #D2D2D2;
  --gray-5: #E9E9E9;
  --gray-6: #F2F2F2;
  --gray-bg: #F6F6F6;
  --gray-bg-hover: #D2D2D2;

  --red-1: #EB5757;

  --button-action: #105AC3;
  --button-hover: #116BE8;
  --button-bg: #1677FF;

  --hover-common: #A6A6A6;

}
