//.question-tooltip .mat-tooltip {
//  background-color: grey;
//  color: black;
//  font-weight: bold;
//}

.mark {
  color: #757575;
  background-color: rgba(224, 224, 224, 0.7);
  cursor: pointer;
  font-size: 12px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &--m {
    width: 22px;
    height: 22px;
  }

  &--has-label {
    position: relative;
    top: -6px;
  }

  &--margin-left {
    &-m {
      margin-left: 8px;
    }

    &-xs {
      margin-left: 2px;
    }

    &-s {
      margin-left: 4px;
    }
  }
}
