:host {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-empty {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    width: 80px;
    color: var(--second-5);
  }

  &__title {
    margin-top: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    min-height: 28px;
    color: var(--first-1);
  }

  &__subtitle {
    margin-top: 4px;
    font-size: 14px;
    min-height: 18px;
    color: var(--second-1);
  }

  &__button {
    margin-top: 20px;
    width: 157px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
  }
}
