@if (this.actions().length > 0) {
  <a
    class="menu"
    nz-dropdown
    nzPlacement="bottomRight"
    nzTrigger="click"
    [nzVisible]="this.visible()"
    [nzClickHide]="false"
    [nzDropdownMenu]="menu"
    (nzVisibleChange)="this.visible.set($event)"
  >
    <div class="dots-menu-dropdown-button" [class.active]="this.active()">
      <div class="dots-menu-dropdown-button__dot"></div>
      <div class="dots-menu-dropdown-button__dot"></div>
      <div class="dots-menu-dropdown-button__dot"></div>
    </div>
  </a>
  
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul class="menu" nz-menu>
      @for (item of this.actions(); track item.label) {
        <li
          class="menu__item"
          nz-menu-item
          (click)="handleClick(item.action)">
          <p-button
            [label]="item.label"
            type="transparent"
            [iconPrefix]="item.iconPrefix"
            [iconPostfix]="item.iconPostfix"
            align="left"
          ></p-button>
        </li>
      }
    </ul>
  </nz-dropdown-menu>
}
