<div class="notification">
  <div class="notification__icon">
    <p-icon *ngIf="icon" [icon]="icon"></p-icon>
  </div>
  
  <div class="notification__content" [ngClass]="'notification--' + type">
    <div class="notification__title">{{ title! | translate }}</div>
    <div class="notification__text">{{ description! | translate }}</div>
    
    <a *ngIf="linkUrl && linkLabel" [routerLink]="linkUrl" class="notification__link">
      {{ linkLabel | translate }}
    </a>
    
    <ng-content></ng-content>
  </div>
</div>
