.notification {
  $this: &;

  display: flex;
  align-items: flex-start;

  &__icon {
    display: flex;
    align-items: center;
    margin-top: 2px;

    p-icon {
      font-size: 20px;
      color: var(--first-1);
      opacity: 0.85;
    }
  }

  &__content {
    margin-left: 16px;
    font-size: 14px;
    color: var(--first-1);
  }

  &__title {
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: -3px;
    color: var(--first-1);
  }

  &__text {
    opacity: 0.9;
    line-height: 1.45;
  }

  &__link {
    display: inline-block;
    margin-top: 12px;
    font-size: 12px;
    text-decoration: none;

    color: var(--action);
    transition: color 0.25s ease;

    &:hover {
      color: var(--action-hover);
    }

    &:active {
      color: var(--action2);
    }
  }


  &--error {
    #{$this}__title {
      color: var(--toast-border-error);
    }
    #{$this}__text {
      opacity: 0.95;
    }
  }

  &--success {
    #{$this}__title {
      color: var(--toast-border-success);
    }
  }

  &--info {
    #{$this}__title {
      color: var(--toast-border-info);
    }
  }

  &--warn {
    #{$this}__title {
      color: #FFD76A;
    }
  }
}
