:host {
  display: flex;
  flex-direction: column;
  //width: 100%;
  height: inherit;
  color: inherit;
  font-style: inherit;
}

.p-select {
  height: 40px;
  //margin-bottom: 18px;

  &--m {
    height: 62px;
  }

  &--l {
    width: 180px;
    height: 60px;
  }

  &--max-h {
    width: 100%;
    //height: 100%;
  }

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    &-text {
      margin-right: var(--m-content);
      user-select: none;
    }
  }

  &__clear {
    left: -2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

::ng-deep {
  .p-select--l {
    .ant-select-selection-item {
      padding-left: 8px!important;
      min-width: 100px!important;
    }

    .ant-select-selection-placeholder {
      //padding-top: 14px!important;
      padding-left: 8px!important;
      color: #333333!important;
    }

    .ant-select-selection-search-input {
      padding-left: 8px!important;
    }
  }

  .ant-select {
    width: 100%;
    height: inherit;
    //color: inherit;
    font-size: inherit;
    font-weight: 700 !important;
    color: black !important;
    .ant-select-selector {
      height: inherit !important;
      overflow: scroll!important;

      border-radius: 36px !important;
      border: none !important;
      background: #F8F8F8!important;
    }
  }
  .select-label-template {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    .value {
      color: var(--teal-blue-1);
    }
  }
  .custom-label-template {
    .ant-select-selection {
      &:active {
        box-shadow: none;
      }
    }
    .ant-select-selection__rendered {
      margin: 0 11px;
    }
    .ant-select-selection-selected-value {
      width: 100%;
    }
  }
}
::ng-deep .custom-label-template .ant-select-selection:hover,
::ng-deep .custom-label-template .ant-select-selection:focus,
::ng-deep .custom-label-template .ant-select-selection:active {
  box-shadow: none;
}

::ng-deep {
  .p-select__dropdown {
    width: max-content !important;
  }

  .ant-select-item {
    background: #F8F8F8!important;

    &:hover {
      background: #FFFFFF!important;
    }
  }

  .ant-select {
    height: 100%!important;
    width: 100%;
  }

  .ant-select-selection-item {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
  }

  .ant-select-selection-search-input {
    height: 100%!important;
    font-size: 17px;
    font-weight: bold;
  }

  .ant-select-selector {
    height: 100%!important;
    width: 100%!important;
    border-radius: 4px!important;
    border: 1px solid var(--common-border)!important;
  }

  .ant-select-dropdown {
    //@media (max-width: 450px) {
      width: 300px !important;
      border-radius: 24px !important;
      padding: 0 !important;
      //left: 5vw !important;
      //right: 5vw !important;
      //transform: none !important;
      //transition: width 0.2s ease, left 0.2s ease, right 0.2s ease;
    //}
  }
}
