<p-popover
  class="lang"
  skipHydration
  type="withoutArrow"
  [template]="userMenu"
  [isVisible]="this.isVisible()"
  (click)="handler(true)"
  (clickOutside)="handler(false)"
>
  <div class="lang__content">
    <p-icon class="lang__icon" size="30" [icon]="this.currentLang()"></p-icon>
    <span class="lang__title noDraggable">{{ this.currentLang() }}</span>
  </div>
</p-popover>

<ng-template #userMenu>
  <ul class="lang__menu" [class.lang__menu_header]="this.header()">
    @for (option of this.options; track option.action) {
      <li
        class="lang__menu-item"
        (click)="setLang(option.action)"
      >
        <p-icon class="lang__icon" [icon]="option.icon"></p-icon>
        <span class="noDraggable">{{ option.title | translate }}</span>
      </li>
    }
  </ul>
</ng-template>
