<div class="p-page-wrapper">
  <div class="booking__head">
    <h3 class="booking__title">Поддержка</h3>
    <!-- <button class="booking__go-back" (click)="goBack()">Вернуться к вариантам</button> -->
  </div>
  
  <ng-container *ngIf="faqService.isLoading(); else faqsContent">
    <p-skeleton-grid
      [rows]="8"
      [columns]="1"
      [gapSizeInPx]="16"
      [itemHeight]="45"
      [itemWidth]="'100%'"
      [template]="faqSkeleton">
    </p-skeleton-grid>
    
    <ng-template #faqSkeleton>
      <div class="skeleton-faq"></div>
    </ng-template>
  </ng-container>
  
  <ng-template #faqsContent>
    <div class="faqs">
      <p-faq-card *ngFor="let i of faqs$()" [q]="i.question" [a]="i.answer"></p-faq-card>
    </div>
  </ng-template>
  
  <p-call-us title="Остались вопросы?"></p-call-us>
</div>
