:host {
//  display: flex;
  width: 100%;
}

.network-selector {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }

  .network-details {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;

    .label {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .content {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 48px;
        height: 48px;
      }

      .description {
        font-size: 0.95rem;
        color: #444;
      }
    }

    .min {
      margin-top: 0.5rem;
      font-style: italic;
      color: #666;
    }
  }

  .amount {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: end;
  }
}

