:host {
  display: block;
  width: 100%;
}

.payment-alert {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #EDEDED;
  border-radius: 5px;
  font-size: 14px;

  &__triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 34.71px solid #FF6B5A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  &__triangle-symbol {
    position: relative;
    top: 22px;
    font-size: 26px;
    color: white;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 4px;
  }

  &__description {
    font-size: 12px;
  }
}
