.popover {
  display: flex;
  width: 100%;
}

.nz-popover-without-arrow {
  .ant-popover-arrow {
    display: none;
  }
}

.ant-popover-inner{
  border-radius: 12px!important;
  background: transparent!important;

  &-content {
    padding: 0!important;
  }
}
