.popover {
  display: flex;
  width: 100%;
}

.nz-popover-without-arrow {
  .ant-popover-arrow {
    display: none;
  }
}

.ant-popover-inner {
  border-radius: 12px!important;
  box-shadow: none!important;
  background: transparent!important;

  &-content {
    padding: 0!important;
  }
}

.popover-backdrop {
  position: fixed;
  inset: 0;
  background: transparent;
  z-index: 999;
}

.nz-popover-without-arrow,
.popover {
  position: relative;
  z-index: 1000 !important;
}
