<div class="settings p-page-wrapper">
  <p-menu [options]="(options$ | async)!" class="settings__menu" (action)="manuAction($event)"/>
  
    <div class="settings__content">
<!--      <div class="settings__top">-->
<!--        <p-button class="settings__menu-button" color="stroke" label="menu" width="max" (action)="openMenu()"></p-button>-->
<!--      </div>-->
      <router-outlet/>
    </div>
</div>

<ng-template #modal>
  <p-modal
    [id]="menuModalId()"
    titleText="settings.menu"
    isModalHeaderSticky
    [iconClose]="true"
    [isFlexibleWidth]="false"
    [isMobileFullScreen]="true"
    (submit)="openMenu(true)">
    <p-menu [options]="(options$ | async)!" class="settings__menu--mob" (action)="manuAction($event)"/>
  </p-modal>
</ng-template>
