:host {
  width: inherit;
  height: inherit;
  color: inherit;
  font-style: inherit;
}

.p-autoc {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  outline: none;

  &--m {
    height: 62px;
  }

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    &-text {
      margin-right: var(--m-content);
      user-select: none;
    }
  }
}
