:host {
  //width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.file-uploader {
  position: relative;
  cursor: pointer;
  height: fit-content;
  //max-height: 120px;
}

.file-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  //height: 100%;
  padding: 10px;
  border: 1px dashed #8b8c90;
  border-radius: 4px;

  p-button {
    z-index: 5;
  }
}

.drop-text {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #141519;
  margin-bottom: 21px;
}

.dropped-files {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.uploaded-file {
  margin-top: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  height: 60px;
  //padding: 0 15px;
  transition: background 0.3s ease;

  & + & {
    margin-top: 2px;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &.field-invalid {
    background-color: rgba(252, 234, 234, 0.65);
  }

  &__data-container {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    font-size: 14px;
    color: #1e2028;
  }

  &__name {
    width: 100%;
    max-width: 316px;
    margin-right: 12px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.canceled {
    opacity: 0.5;
  }

  &__size {
    display: flex;
    max-width: 450px;

    span {
      white-space: nowrap;
    }
  }

  &__preview {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
  }

}

.errors {
  margin-top: var(--m-items);
}

.canceled-message {
  font-size: 14px;
  line-height: 1.43;
  color: #1e2028;
}

.error-message {
  color: #e60028;
  margin-left: 15px;

  &:first-letter {
    text-transform: uppercase;
  }
}

.file-right {
  display: flex;
  align-items: center;
}

.is-dragover {
  cursor: pointer !important;
}

.button-delete {
  min-width: 40px;
}

.red {
  color: var(--red-3);
}

.blue {
  color: var(--blue-1);
}

.tooltip {
  position: absolute;
  top: 10px;
  right: 10px;
}



.plus-icon {
  position: relative;
  width: 24px;
  height: 24px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: grey;
    border-radius: 1px;
  }

  &::before {
    width: 2px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
  }
}

