:host {
  padding-bottom: 20px;
}

.footer {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.35s ease;

  &:hover, focused, active {
    background: linear-gradient(90deg, #64C2DB 13.89%, #7476ED 36.39%, #C994DF 59.2%, #E56F8C 88.89%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

