.payment-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  width: 560px;
  min-height: 350px;
  //padding: 40px 35px;
  padding-bottom: 40px;
  background-color: white;
  //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  top: 50px;

  &__payment-id {
    color: #1A66D1;
    letter-spacing: 0.5px;
    cursor: pointer;
  }

  &__button {
    display: block;
    padding: 10px;
    background-color: #2787F5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
    height: 50px;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

    &--reject {
      margin-top: 20px;
      background-color: rgb(255, 107, 90);
    }

    &:hover {
      background-color: #1A66D1;
    }
  }

  &__content {
    &--main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    &--loading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &--fulfilled {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
  }

  &__status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    //align-items: center;
    gap: 20px;
  }

  &__field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &-comment {
      margin-top: 4px;
      text-align: center;
    }
  }

  &__label {
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
    text-align: center;
  }

  &__control {
    width: 100%;
    height: 50px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;

    &--input {
      cursor: text;
      margin-right: 40px;
    }
  }

  &__copy-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
  }

  &__amount {
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
  }

  &__amount {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
  }

  &__result {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
  }

}


.checkmark-circle {
  transform: scaleX(-1);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2196F3;
  position: relative;
}

.checkmark {
  width: 41px;
  height: 21px;
  transform: rotate(45deg);
  border-bottom: 5px solid #2196F3;
  border-right: 5px solid #2196F3;
  position: absolute;
  top: 47%;
  left: 50%;
  margin-left: -22.5px;
  margin-top: -12.5px;
}


.support-btn {
  border-radius: 5px;
  border: 0.5px solid #2787F5;
  background: #ECF3FF;
  width: 230px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.support-btn:hover {
  background-color: #DDE9FF
}

.telegram-icon {
  margin-left: 5px;
}
