<section class="payment-widget">
  <div *ngIf="(scene$ | async) === 'init'" class="payment-widget__content--main">
    <p-alert>
      <p-timer *ngIf="waitingTime$ | async as waitingTime" [waitingTime]="waitingTime"></p-timer>
    </p-alert>

    <span>ID платежа: <span class="payment-widget__payment-id" appSelectText>{{paymentId}}</span></span>

    <div class="payment-widget__form">
      <div class="payment-widget__input">
        <span class="payment-widget__label">Адрес кошелька: </span>
        <div class="payment-widget__field">
          <div class="payment-widget__control" selectText><span>{{cardNumber}}</span></div>
<!--          <button class="payment-widget__copy-button" (click)="copyToClipboard(cardNumber)">-->
<!--            <app-copy-icon></app-copy-icon>-->
<!--          </button>-->
        </div>
      </div>

      <div class="payment-widget__input">
        <span class="payment-widget__label">СУММА К ОПЛАТЕ:</span>
        <div class="payment-widget__field">
          <div class="payment-widget__control" selectText>{{amount}} {{currency}}</div>
<!--          <button class="payment-widget__copy-button" (click)="copyToClipboard(amount.toString())">-->
<!--            <app-copy-icon></app-copy-icon>-->
<!--          </button>-->
        </div>
      </div>
      
    </div>

    <button class="payment-widget__button" (click)="submit()">Я Оплатил</button>
  </div>

  <div *ngIf="(scene$ | async) === 'loading'" class="payment-widget__content--loading">
<!--    [label]="'Идет подтверждение платежа'"-->
    <p-loader></p-loader>
  </div>

  <div *ngIf="isResultScene$ | async"
       class="payment-widget__content--fulfilled">
    <div class="payment-widget__status">

      <div *ngIf="(scene$ | async) === 'success'; else rejectedIcon"
           class="payment-widget__content-icon">
        <div class="checkmark-circle">
          <div class="checkmark"></div>
        </div>
      </div>

      <div class="payment-widget__amount">{{amount}} {{currency}}</div>
      <div class="payment-widget__result">
        <div class="payment-widget__result">
          {{(scene$ | async) === 'success' ? 'Платеж успешно завершен' : 'Платеж не прошел'}}
        </div>
        <span>ID платежа: <span class="payment-widget__payment-id" appSelectText>{{paymentId}}</span></span>
        <button *ngIf="(scene$ | async) === 'rejected'" class="payment-widget__button payment-widget__button--reject" (click)="submit()">Проверить повторно</button>
      </div>

    </div>
  </div>

  <button class="support-btn" (click)="openChatHelp()">
    Чат с техподдержкой <span class="telegram-icon"><p-icon icon="tg"></p-icon></span>
  </button>

</section>

<ng-template #rejectedIcon>
  <svg [style.height.px]="100" width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="cross-symbol_icon-icons.com_74149 2" clip-path="url(#clip0_22_22)">
      <g id="Group">
        <g id="cross">
          <g id="Group_2">
            <path id="Vector"
                  d="M27.4647 19.2839L9.93599 1.70861C7.67124 -0.562248 3.99975 -0.564103 1.73271 1.70446C-0.534332 3.97294 -0.53619 7.65046 1.72856 9.92114L19.2592 27.4964L1.71278 45.054C-0.554259 47.3224 -0.556116 51 1.70863 53.2707C3.97338 55.5415 7.64487 55.5433 9.91191 53.2749L27.4584 35.7173L44.9871 53.2926C47.2518 55.5633 50.9233 55.5652 53.1903 53.2967C55.4574 51.0283 55.4593 47.3507 53.1944 45.08L35.6658 27.5047L53.2122 9.94715C55.4793 7.67867 55.4812 4.00115 53.2163 1.73047C50.9516 -0.540384 47.2801 -0.542238 45.0131 1.72633L27.4647 19.2839Z"
                  fill="#FF6B5A"/>
          </g>
        </g>
      </g>
    </g>
    <defs>
      <clipPath id="clip0_22_22">
        <rect width="54.9727" height="54.8825" fill="white" transform="translate(0.00634766 54.9728) rotate(-89.9711)"/>
      </clipPath>
    </defs>
  </svg>
</ng-template>
