<!--<p-button-->
<!--    class=""-->
<!--    padding="none"-->
<!--    [ngbPopover]="commandsMenu">-->
<!--    <i class="bi bi-three-dots-vertical"></i>-->
<!--</p-button>-->

<!--<ng-template #commandsMenu>-->
<!--    <div class="actions">-->
<!--        <p-button-->
<!--            *ngFor="let action of item.menuActions"-->
<!--            [iconPrefix]="action.button?.iconPrefix"-->
<!--            align="left"-->
<!--            color="transparent"-->
<!--            size="wide"-->
<!--            padding="none"-->
<!--            (click)="onAction(action)">-->
<!--            {{ action.title }}-->
<!--        </p-button>-->
<!--    </div>-->
<!--</ng-template>-->
