.call-help {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  &__title {
    display: flex;
    align-items: center;
    gap: 12px;

    p {
      font-weight: 700;
      font-size: 22px;
      line-height: 100%;
      color: #111111;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 36px 24px;
    height: 100px;
    background-color: #f8f8f8;
    border-radius: 24px;

    @media (max-width: 780px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 16px 12px;
      gap: 12px;
      height: auto;
    }

    p {
      font-weight: 700;
      font-size: 22px;
      line-height: 100%;
      color: #ff5100;
    }
  }
}
