<div class="p-page-wrapper">
  <p-loader *ngIf="!isLoaded()"/>
  <div *ngIf="route$ | async as route" class="route">
    <div *ngIf="title$ | async as title" class="route__banner">
      <div class="banner__left">
        <!--        <div class="banner__breadcrumbs">-->
        <!--          <span>Главная / </span>-->
        <!--          <span>{{title}}</span>-->
        <!--        </div>-->
        <div class="banner__title" [textMorph]="title"></div>
        <p-tags [tags]="tags$ | async"></p-tags>
        
        <p-accordion presp [maxW]="768" label="Показать фильтры" class="route__filter-toggle">
          <p-route-filter [initSlugs]="slugs" [initLocations]="[route.route.locationFrom, route.route.locationTo]"
                          skipHydration [isLoading]="isLoading()" (pickRoute)="onPickRoute($event)"></p-route-filter>
        </p-accordion>
        
        <p-route-filter presp [minW]="769" [initSlugs]="slugs"
                        [initLocations]="[route.route.locationFrom, route.route.locationTo]"
                        skipHydration [isLoading]="isLoading()" (pickRoute)="onPickRoute($event)"></p-route-filter>
      </div>
      
      <div class="banner__right">
        <img *ngIf="isDesktopImg()" [img]="'home/home-banner.png'">
        <img *ngIf="!isDesktopImg()" [img]="'home/homeBanner2.png'">
      </div>
    </div>
    
    <div class="route__tariffs">
      <ng-container *ngIf="isLoading(); else tariffsContent">
        <p-skeleton-grid
          [rows]="6"
          [columns]="1"
          [gapSizeInPx]="24"
          [itemHeight]="270"
          [itemWidth]="'100%'"
          [template]="tariffSkeleton">
        </p-skeleton-grid>
        
        <ng-template #tariffSkeleton>
          <div class="skeleton-tariff"></div>
        </ng-template>
      </ng-container>
      
      <ng-template #tariffsContent>
        <ng-container *ngIf="isDesktopImg(); else mobileTariffs">
          <p-tariff-card
            *ngFor="let tariff of route.tariffs"
            [tariff]="tariff.tariff"
            [price]="tariff.price"
            (action)="onSelectTariff(tariff)">
          </p-tariff-card>
        </ng-container>
        
        <ng-template #mobileTariffs>
          <p-carousel gap="16" minItemWidth="240" dots maxItemsInView="2">
            <p-tariff-card
              *ngFor="let tariff of route.tariffs"
              pCarouselItem
              [tariff]="tariff.tariff"
              [price]="tariff.price"
              (action)="onSelectTariff(tariff)">
            </p-tariff-card>
          </p-carousel>
        </ng-template>
      </ng-template>
    </div>
    
    
    <!--    <p-ya-map-->
<!--      [fromLat]="route.route.locationFrom.coordinates.latitude"-->
<!--      [fromLng]="route.route.locationFrom.coordinates.longitude"-->
<!--      [toLat]="route.route.locationTo.coordinates.latitude"-->
<!--      [toLng]="route.route.locationTo.coordinates.longitude"-->
<!--    >-->
<!--    </p-ya-map>-->

<!--    <p-dgis-map-->
<!--      [from]="[55.75, 37.57]"-->
<!--      [to]="[55.80, 37.60]">-->
<!--    </p-dgis-map>-->
    <p-call-us title="Не смогли найти подходящий вариант?"/>
  </div>
</div>


