<div class="stars" [class.interactive]="this.isControl()">
  @for (star of this.stars(); track star; let i = $index) {
    <span
      class="star"
      [class.filled]="i < (this.hoveredStar() || this.ratingValue())"
      (mouseenter)="onHover(i + 1)"
      (mouseleave)="onLeave()"
      (click)="setRating(i + 1)"
    >
      ★
    </span>
  }
</div>

@if (this.hasRating()) {
  <div class="rating">{{ this.ratingValue() }}</div>
}

@if (this.hasCount()) {
  <div class="reviews">
    ({{ this.reviewsCount() }} {{ 'reviews' | translate }})
  </div>
}
