:host {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: default;
}

.stars {
  display: flex;
  gap: 4px;
  font-size: var(--star-size, 24px);
  line-height: 1;
  user-select: none;

  &.interactive {
    cursor: pointer;
  }

  .star {
    color: #ccc;
    transition: color 0.2s;

    &.filled {
      color: #ff9d00;
    }
  }
}

.rating {
  font-weight: bold;
}

.reviews {
  margin-left: 4px;
  text-transform: capitalize;
}
