.home-main {
  position: relative;
  //width: 100%;
  width: 100vw;
  min-height: 60vh;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 2rem;
  padding-top: 4rem;
  //border-radius: 24px;

  //background: var(--bg-main, linear-gradient(180deg, #0f0f10 0%, #1a1a25 100%));
  //border: 1px solid rgba(255, 255, 255, 0.05);
  //box-shadow: 0 0 20px rgba(100, 120, 255, 0.10);
  overflow: hidden;

  p, h1 {
    font-family: 'Manrope';
  }

  @media (max-width: 650px) {
    min-height: 400px;
    height: 50vh;
  }
}

.home-main_bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0.25;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.85;
    mix-blend-mode: multiply;
  }
}

.home-main-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 3rem;
  padding-top: 0;

  @media (max-width: 650px) {
    padding: 0;
  }

  //background: linear-gradient(180deg, rgba(25, 25, 35, 0.55) 0%, rgba(32, 32, 45, 0.75) 100%);
  //border-radius: 20px;
  //border: 1px solid rgba(255, 255, 255, 0.06);
  //backdrop-filter: blur(12px);
}

.home-main_title {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--first-1, #e6e9f8);
  margin-bottom: 1.5rem;
  line-height: 1.25;

  @media (max-width: 640px) {
    font-size: 2rem;
  }

  @media (max-width: 470px) {
    font-size: 1.6rem;
  }
}

.home-main_desc {
  font-size: 1.4rem;
  color: #b4b8c9;
  max-width: 680px;
  margin: 0 auto;
  line-height: 1.65;

  @media (max-width: 550px) {
    font-size: 1.2rem;
  }

  @media (max-width: 470px) {
    font-size: 1rem;
  }
}

.home-main_bg::before {
  content: "";
  position: absolute;
  inset: 0;

  /* выравнивающая тональность перед fade */
  background: linear-gradient(
                  to bottom,
                  rgba(0,0,0,0) 80%,
                  rgba(15,15,16,0.35) 100%
  );

  z-index: 2;
  pointer-events: none;
}

.home-main_bg::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
                  to bottom,
                  rgba(0,0,0,0) 80%,
                  #1a1a25 100%
  );

  z-index: 3;
  pointer-events: none;
}
