:host {
  display: flex;
  max-height: inherit;
}

.accordion {
  $this: &;
  width: 100%;
  transition: 0.2s;
  //background-color: var(--green-3);
  display: flex;
  flex-direction: column;
  max-height: inherit;

  &--primary-filled {
    //background: COLOR;
  }

  &__title {
    user-select: none;
  }

  &__container {
    max-height: inherit;
    overflow: scroll;
  }

  &--block {
    border-radius: 12px;
    background-color: var(--gray-6);

    #{$this}__button {
      padding: 12px 16px;
    }

    #{$this}__button {
      //padding: 8px 16px;
    }

    #{$this}__container {
      //margin-top: var(--m-content);
      padding: 0 16px 12px 16px;
    }
  }

  &--expanded {
    #{$this}__toggle-icon {
      transform: rotate(0);
    }
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 10px;
  }

  &__button {
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    color: #000000;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }

  &__toggle-icon {
    transform: rotate(180deg);
    transition: transform 150ms ease;
    color: var(--first-1)
  }

  &__container {
    cursor: default;
    overflow: hidden;
    transition: max-height 0.25s ease;
  }

  &__see-more-button {
    //margin-left: auto;
  }
}

.title--bold {
  font-weight: 600;
  font-size: 18px;
}
