<div class="accordion" [class]="classes()" [attr.tabindex]="tabindex()">
  
  @if (hasToggle()) {
    <div class="accordion__button" (click)="toggle()">
      
      @if (label()) {
        <div class="accordion__title">
          @if (icon()) {
            <p-icon
              class="accordion__icon"
              [icon]="icon()">
            </p-icon>
          }
          <span [class.title--bold]="isTitleBold()">{{ label() | translate }}</span>
        </div>
      }
      
      <ng-content select="[title]"></ng-content>
      
      @if (isSeeMore() && !isOpened()) {
        <div class="accordion__see-more-button" (click)="toggle()">
          {{ seeMoreLabels()[0] | translate }}
        </div>
      }
      
      <p-icon
        class="accordion__toggle-icon"
        [size]="size() === 'l' ? 20 : 13"
        icon="angleDown">
      </p-icon>
    </div>
  }
  
  @if (!useNgIf()) {
    <section
      class="accordion__container"
      [@openCloseHidden]="isOpened() ? 'open' : 'closed'"
      [style.overflow]="isVisible() ? 'visible' : 'hidden'"
      [style.display]="!isOpened() && animationFinished() ? 'none' : 'block'"
      (@openClose.done)="animationDone($event)">
      <ng-content></ng-content>
    </section>
  } @else {
    @if (isOpened()) {
      <section class="accordion__container" @openClose>
        <ng-content></ng-content>
      </section>
    }
  }
  
  @if (isSeeMore() && isOpened()) {
    <div class="accordion__see-more-button" (click)="toggle()">
      {{ seeMoreLabels()[1] }}
    </div>
  }
</div>
