<div class="tariff-card"

>
  <div class="tariff-card__left">
    <img class="tariff-card__image noSelect" [img]="'cars/' + tariff.image + '.png'" alt="{{ tariff.name }}" />
    <div class="tariff-card__models">{{ tariff.carTypes.join(', ') }}</div>
  </div>
  
  <div class="tariff-card__content noSelect">
    <div class="tariff-card__header">
      <div class="tariff-card__title">{{ tariff.name }}</div>
      <div class="tariff-card__desc">{{ tariff.description }}</div>
    </div>
    
    <div class="tariff-card__tags">
      <p-tags [tags]="tariff | tariffToTags"></p-tags>
    </div>
    
    <div class="tariff-card__features">
      <p *ngFor="let feat of tariff.features"><p-icon icon="orangeCheck"></p-icon> <span>{{feat}}</span></p>
    </div>
  </div>
  
  <div class="tariff-card__right">
    <div class="tariff-card__price-block">
      <div class="tariff-card__price">
        от <span>{{ price | number: '1.0-0' }}</span> ₽
      </div>
      <div class="tariff-card__price-desc">Стоимость трансфера</div>
    </div>
    
    <p-button label="Выбрать" type="primary" (action)="onSelect()"></p-button>
  </div>
</div>




<ng-template #mobileLayout>
  <div class="tariff-card__mobile">
    <div class="tariff-card__top">
      <div class="tariff-card__title">{{ tariff.name }}</div>
      <img class="tariff-card__image" [img]="'cars/' + tariff.image + '.png'" alt="{{ tariff.name }}" />
    </div>
    
    <div class="tariff-card__desc">{{ tariff.description }}</div>
    <p-tags [tags]="tags"></p-tags>
    <div class="tariff-card__models">{{ tariff.carTypes.join(', ') }}</div>
    
    <div class="tariff-card__price-block">
      <div class="tariff-card__price">
        от <span>{{ price | number: '1.0-0' }}</span> ₽
      </div>
      <p-button label="Выбрать" type="primary" (action)="onSelect()"></p-button>
    </div>
  </div>
</ng-template>
