.tariff-card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background: #fafafa;
  border-radius: 16px;
  padding: 24px 28px;
  gap: 24px;
  height: 100%;

  @media (max-width: 950px) {
    padding: 12px;
    padding-bottom: 20px;
    gap: 12px;
    flex-direction: column;
  }

  &__left {
    //flex: 0 0 280px;
    flex: 1 40px;
    display: flex;
    flex-direction: column;
    max-width: 240px;

    img {
      max-height: 220px;
    }

    @media (max-width: 950px) {
      max-width: 100%;
      align-items: center;
    }

    .tariff-card__image {
      width: 100%;
      max-width: 260px;
      height: auto;
      object-fit: contain;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
  }

  &__desc {
    font-size: 14px;
    color: #555;
  }

  &__tags {
    margin: 12px 0;
  }

  &__price-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2px;

    @media (max-width: 950px) {
      align-items: flex-start;
      gap: 0;
    }

    .tariff-card__price {
      font-weight: 800;
      font-size: 24px;
      color: #ff5c00;

      @media (max-width: 950px) {
        margin-bottom: -6px;
      }

      span {
        font-size: 28px;
      }
    }

    .tariff-card__price-desc {
      color: #888;
      font-size: 14px;

      @media (max-width: 950px) {
        font-size: 12px;
      }
    }
  }

  &__features p {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    //align-self: flex-end;
    //margin-top: 16px;
    max-width: 180px;

    @media (max-width: 950px) {
      align-items: flex-start;
      align-self: center;
      max-width: 100%;
      width: 100%;
    }

    p-button {
      width: 220px;
      margin-top: auto;
      flex-shrink: 0;
      @media (max-width: 950px) {
        align-self: center;
        margin-top: 12px;
        width: 100%;
      }
    }
  }

  &__models {
    font-size: 14px;
    color: #7C7C7C;
    align-self: flex-start;
  }

  &--mobile {
    flex-direction: column;
    padding: 16px;

    .tariff-card__mobile {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .tariff-card__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .tariff-card__image {
        width: 120px;
        height: auto;
      }

      .tariff-card__price-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      p-button {
        width: 140px;
      }
    }
  }
}
