:host {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 50px;
  bottom: 90px;
}

.scroll-up-button {
  //@include focus;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#fff, 0.9);
  border-radius: 50%;
  border: 0.1rem solid #b5b5b9;
  color: #b5b5b9;
  cursor: pointer;
  opacity: 1;
  transition: opacity ease-out 0.2s;

  &.scroll-up-button--hidden {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    border-color: #8e8e93;
    color: #8e8e93;
  }

  &:active {
    border-color: #646467;
    color: #646467;
  }
}
