.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;

  background-color: transparent;
  border-bottom: 1px solid var(--second-2);
}

.header__left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__right {
  display: flex;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__link {
  &:hover, :active, :focus {
    color: red;
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }

  &:after {
    content: '';
    display: block;
    height: 1px;
    background: red;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    transform: translateY( 3px );
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
  }
}
.header__link:hover:after,
.header__link:focus:after,
.header__link:active:after {
  opacity: 1;
  transform: translateY(0);
}

