<header class="header">
  <div class="header__left">
    <div></div>
<!--    <p-button label="home.action.action" (action)="onCallClick()"></p-button>-->
  </div>
  
  <div class="header__right">
    <p-main-logo/>
  </div>
  
<!--  <div class="header__call">-->
  <div class="header__right">
    <div *ngIf="headerLinks()?.length" class="header__links">
      @for (link of headerLinks(); track link) {
        <a
          class="header__link link--def p-a-reset p4 noSelectU"
          [href]="link.url"
          [routerLink]="link.url ? link.url : null"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="action(link?.action)">
          {{ link.title | translate }}
        </a>
      }
    </div>
    
    <p-change-language class="header__lang"/>
  </div>
</header>


<ng-template #login>
  <div class="header__link" (click)="onOpenLoginModal()">Login</div>
</ng-template>
