.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;

  background-color: transparent;
  border-bottom: 1px solid var(--second-2);

  @media (max-width: 780px) {
    justify-content: center;
  }
}

.header__name {

}

.header__left {
  display: flex;
  align-items: center;
  min-width: 200px;

  @media (max-width: 780px) {
    min-width: 10px;
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.header__center {
  display: flex;
}

.header__right {
  display: flex;

  @media (max-width: 650px) {
    display: none;
  }
}

.header__links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__lang {
  margin-left: 20px;
}

.header__call {
  display: flex;
  align-items: center;
}

.header__link {
  &:hover, :active, :focus {
    color: red;
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }

  //&:after {
  //  content: '';
  //  display: block;
  //  height: 1px;
  //  background: red;
  //  position: absolute;
  //  left: 0;
  //  right: 0;
  //  transform: translateY( 3px );
  //  opacity: 0;
  //  transition: opacity 0.2s, transform 0.2s;
  //}
}
.header__link:hover:after,
.header__link:focus:after,
.header__link:active:after,
.header__link.active {
  //color: red;
  border-bottom: solid 1px red;
  //font-weight: 600;
  //opacity: 1;
  //transform: translateY(0);
}

