.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;

  background-color: transparent;
  border-bottom: 1px solid var(--second-2);
}

.header__name {

}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.35s ease;

  &:hover, focused, active {
    background: linear-gradient(90deg, #64C2DB 13.89%, #7476ED 36.39%, #C994DF 59.2%, #E56F8C 88.89%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.header__left {
  display: flex;
  align-items: center;
  min-width: 200px;
}

.header__right {
  display: flex;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__lang {
  margin-left: 20px;
}

.header__call {
  display: flex;
  align-items: center;
}

.header__link {
  &:hover, :active, :focus {
    color: red;
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }

  //&:after {
  //  content: '';
  //  display: block;
  //  height: 1px;
  //  background: red;
  //  position: absolute;
  //  left: 0;
  //  right: 0;
  //  transform: translateY( 3px );
  //  opacity: 0;
  //  transition: opacity 0.2s, transform 0.2s;
  //}
}
.header__link:hover:after,
.header__link:focus:after,
.header__link:active:after,
.header__link.active {
  //color: red;
  border-bottom: solid 1px red;
  //font-weight: 600;
  //opacity: 1;
  //transform: translateY(0);
}

