@use "shared" as *;

.modal-container__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 199;
  @include blur-backdrop('dark');
  //background-color: rgba(0, 0, 0, 0.6);

  &--transparent-bg {
    background-color: transparent;
    transition: 0.15s ease-out background-color;
  }

  &--hidden {
    display: none;
  }
}
