.stepper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  justify-content: center;
  cursor: pointer;
}

.step-label {
  padding: 8px 16px;
  border-radius: 0;
  background-color: transparent;
  color: #333;
  transition: color 0.3s, border-bottom 0.3s;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid transparent;
  user-select: none;
}

.step.active .step-label {
  color: var(--brand-1);
  border-bottom-color: var(--brand-1);
}

.step.completed .step-label {
  color: var(--brand-1-light);
  border-bottom-color: var(--brand-1-light);
}
