@if (this.items().length > 0) {
  <div class="tags" [class.tags_wrap]="this.hasWrap()">
    @for (item of this.items(); track item.value) {
      <div class="tag" [class]="this.tagClasses()">
        @if (item.icon) {
          <p-icon
            class="tag__icon--prefix"
            skipHydration
            [icon]="item.icon"
          ></p-icon>
        }
        
        <span>
          {{ (this.prefix() ?? '') + item.label | translate }}
          @if (item.labelBold; as bold) {
            <strong>{{ bold }}</strong>
          }
        </span>
        
        @if (this.isRemovable()) {
          <p-icon
            class="tag__icon-close"
            stopEvents
            icon="close"
            (click)="onRemoveTag(item.value)"
          ></p-icon>
        }
      </div>
    }
  </div>
}
