.booking__title {
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 100%;
  color: #111111;
}

.booking__go-back {
  padding: 8px 12px 8px 24px;
  width: max-content;
  background-color: #F8F8F8;
  font-size: 14px;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  margin-top: 8px;
  cursor: pointer;
}

.booking__go-back::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 8px solid #999;
  border-radius: 2px;
}

.faqs {
  margin-top: 20px;

  p-button {
    margin-top: 12px;
  }
}

.faqs__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px 0;

  &__row {
    display: flex;
    gap: 16px;
    align-items: flex-start;

    p-input {
      flex: 1;
    }

    @media (max-width: 960px) {
      flex-direction: column;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 8px;

    p-button {
      width: 200px;
      font-weight: 700;
      font-size: 16px;
    }

    @media (max-width: 600px) {
      justify-content: center;
      p-button {
        width: 100%;
      }
    }
  }
}

.reviews {
  &__h {
    margin-top: 28px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
  }
}

p-skeleton-grid {
  margin-top: 20px;
}

