<div class="DDD">
  <!--  <button (click)="test1()">TEST 1</button>-->
  <!--  <button (click)="test1('2')">TEST 1</button>-->
  <!--  <button (click)="test1('3')">TEST 1</button>-->
</div>
<main class="main">
  @if (lang.initialized()) {
    <router-outlet></router-outlet>
  } @else {
    <div class="app-loader"></div>
  }
<!--  <router-outlet />-->
</main>

<!--<p-modal></p-modal>-->
<p-modals-container></p-modals-container>
<p-notifications-container></p-notifications-container>
<p-image-gallery-modal></p-image-gallery-modal>
