.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 3rem;
  padding: 0;

  &--tooltip {
    padding: var(--p-item);
    box-shadow: var(--tooltip-shadow);
  }

  &__item {
    font-size: 14px;
    color: var(--first-1);
    background: transparent;
    transition: var(--transition-common);
    padding: 8px 12px;
    margin: 4px 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 44px;

    &--active {
      background-color: var(--content-bg-1);
      color: var(--blue-1);
    }

    &-title {
      margin-left: var(--m-content);
      font-weight: 600;
    }

    &:hover {
      background-color: var(--content-bg-1);
      color: var(--blue-1);
    }
  }

  &__icon {
    width: 26px;

    &-toggle {
      margin-left: auto;
      align-self: center;
      transform: rotate(0deg);
      transition: transform 150ms ease;

      &--opened {
        transform: rotate(180deg);
      }
    }
  }
}


.submenu {
  &__item {
    padding-left: 12px;
  }
}
