<button class="btn"
        [class]="[
            'btn--' + type,
            'btn--' + color,
            'btn--c-' + colorText,
            'btn--' + size,
            'btn--w-' + width,
            'btn--align-' + align,
            'btn--p-' + padding,
            'btn--br-' + br,
        ]"
        [class.btn--without-padding]="withoutPadding"
        [class.btn--h-max]="isMaxHeight"
        [class.btn--h-inh]="isHeightInherit"
        [class.btn--disabled]="isDisabled"
        [class.btn--icon]="!label && (iconPrefix || iconPostfix)"
        [disabled]="isDisabled">
  <ng-container *ngIf="!isLoading; else loader">
    <p-icon *ngIf="iconPrefix"
            class="btn__icon-prefix"
            [style.color]="iconPrefixColor"
            [style.width.px]="iconPrefixSize"
            [size]="iconPrefixSize"
            [icon]="iconPrefix"
    ></p-icon>
    <ng-content/>
    <ng-container *ngIf="label">{{label | translate}}</ng-container>
    <p-icon *ngIf="iconPostfix"
            class="btn__icon-postfix"
            [size]="iconPostfixSize"
            [icon]="iconPostfix"
    ></p-icon>
  </ng-container>
</button>

<ng-template #loader>
  <p-loader class="btn__loader" size="s" [color]="spinnerColor"></p-loader>
</ng-template>
