<button [class]="classes()" [disabled]="isDisabled()">
  @if (!isLoading()) {
    
    @if (iconPrefix()) {
      <p-icon
        class="btn__icon-prefix"
        [size]="iconPrefixSize()"
        [icon]="iconPrefix()"
        [style.color]="iconPrefixColor()"
      ></p-icon>
    }
    
    <ng-content></ng-content>
    
    @if (label()) {
      {{ label() | translate }}
    }
    
    @if (iconPostfix()) {
      <p-icon
        class="btn__icon-postfix"
        [size]="iconPostfixSize()"
        [icon]="iconPostfix()"
      ></p-icon>
    }
    
  } @else {
    <p-loader
      class="btn__loader"
      size="s"
      [color]="spinnerColor()"
    ></p-loader>
  }
</button>
