/* -------------------------------------
   Core Button Element
-------------------------------------- */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;

  font-size: 14px;
  font-weight: 600;

  width: fit-content;
  height: fit-content;

  border: none;
  border-radius: 12px;

  gap: 6px;
  padding: 0;

  transition: background-color .25s ease, color .25s ease;
}


/* -------------------------------------
   SIZES
-------------------------------------- */

.btn--size-s {
  height: 36px;
  padding: 4px 12px;
  font-size: 13px;
}

.btn--size-m {
  height: 44px;
  padding: 8px 16px;
}

.btn--size-l {
  height: 56px;
  padding: 12px 22px;
  font-size: 15px;
}


/* -------------------------------------
   WIDTH
-------------------------------------- */

.btn--width-max {
  width: 100%;
}

.btn--width-auto {
  width: auto;
}

.btn--width-fixed {
  width: fit-content;
}


/* -------------------------------------
   TEXT ALIGN INSIDE BUTTON
-------------------------------------- */

.btn--align-left {
  justify-content: flex-start;
}

.btn--align-center {
  justify-content: center;
}

.btn--align-right {
  justify-content: flex-end;
}


/* -------------------------------------
   STATES
-------------------------------------- */

.btn--disabled {
  pointer-events: none;
  opacity: .5;
}

.btn--without-padding {
  padding: 0 !important;
}

.btn--h-max {
  height: 100% !important;
}

.btn--h-inherit {
  height: inherit !important;
}

.btn--icon-only {
  padding: 8px !important;
}


/* -------------------------------------
   COLOR MIXIN
-------------------------------------- */

@mixin buttonColor($bg, $bg-hover: null, $text: #fff) {
  background-color: var(--#{$bg});
  color: $text;

  $effective-hover: if($bg-hover, var(--#{$bg-hover}), var(--#{$bg}-hover));

  &:hover,
  &:focus {
    background-color: $effective-hover;
    color: $text;
  }

  &:active {
    background-color: $effective-hover;
    box-shadow: 0 4px 8px rgba(0,0,0,.18);
  }
}


/* -------------------------------------
   TYPES
-------------------------------------- */

.btn--type-primary {
  @include buttonColor(action, action-hover, var(--first-1));
  border-radius: 36px;
}

.btn--type-secondary {
  @include buttonColor(action2, action2-active, var(--first-2));
}


/* -------------------------------------
   ICONS
-------------------------------------- */

.btn__icon-prefix {
  color: inherit !important;
}

.btn__icon-postfix {
  color: inherit !important;
}

.btn__loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
