@let hasLines = this.lines().length > 0;

@if (this.isEnabled(); as enabled) {
  @if (!this.isTooltipMode(); as noTooltipMode) {
    @if (this.maxLines() === 1) {
      <div
        class="main-text"
        [class.fade-truncate]="this.isOverflowed()"
        [tooltip]="this.tooltip() ?? (this.isOverflowed() ? this.text() : '')"
        textOverflow
        [maxLines]="this.maxLines()"
        [textOverflowDisabled]="!!this.tooltip() || !enabled"
        (overflowLines)="setLines($event)"
        (textOverflowed)="enableTooltipMode($event)"
      >
        {{ this.text() }}
      </div>
    } @else {
      @if (!hasLines) {
        <div
          class="main-text--hidden"
          [class.fade-truncate]="this.isOverflowed()"
          [tooltip]="this.tooltip() ?? ''"
          [autoEllipsis]="this.text()"
          isFade
          [maxLines]="this.maxLines()"
          (isOverflowed)="overflow()"
          (linesChanged)="setLines($event)"
        >
          {{ this.text() }}
        </div>
      } @else {
        <ng-container>
          @for (line of this.lines(); track line; let i = $index) {
            <span
              class="line"
              [tooltip]="this.tooltip() ?? (this.isOverflowed() ? this.text() : '')"
            >
              {{ line }}
            </span>
          }
        </ng-container>
      }
    }
  } @else {
    <div
      [tooltip]="this.tooltip() ?? this.text()"
      [class.fade-truncate]="this.isOverflowed()">
      {{ this.text() }}
    </div>
  }
} @else {
  {{ this.text() }}
}
