<a
  class="p-phone-link p-a-reset"
  [class]="classes()"
  [href]="telLink()"
  [attr.aria-label]="ariaLabel() || ('Позвонить по номеру ' + phone())"
  [title]="ariaLabel() || ('Позвонить по номеру ' + phone())"
  rel="nofollow"
  [attr.tabindex]="tabindex()">
  
  @if (!isSmallIcon()) {
    <p-icon icon="orangePhone" size="20" class="p-phone-link__icon" />
    <span class="p-phone-link__label">{{ label() || phone() }}</span>
  } @else {
    <p-icon icon="phoneWhite" size="20" class="p-phone-link__icon--small" />
  }

</a>
