:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: inherit;
  background-color: inherit;
  color: inherit;
}

.input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid var(--common-border);
  background-color: #FFF;
  color: #2B2B2B;
  outline: none;
  transition: border 0.3s ease-in-out;

  &__group {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 18px;
    //margin-bottom: 0;

    &--no-padding {
      margin-bottom: 0;
    }

    &-prefix {
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0.5px;
      height: 100%;
      overflow: hidden;
      border-radius: 8px 0 0 8px;
    }

    &-prefix-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      cursor: pointer;
    }

    &-append {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      overflow: hidden;
      border-radius: 0 8px 8px 0;
    }

    &-suffix {
      background: transparent;
      border: none;
      color: var(--secondary-1);
      height: 100%;

      &--text {
        user-select: none;

        span {
          width: 100%;
          height: 100%;
          padding: 0 10px;
          background: rgba(100, 100, 100, 0.7);
          color: var(--first-2);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        cursor: pointer;
      }
    }

    &-button {
      cursor: pointer;
      height: 100%;

      &-text {
        color: var(--teal-blue-1);
        border-bottom: 1px dashed var(--teal-blue-1);
      }
    }
  }
}

.input__errors {
  margin-top: 4px;
}

.input__errors-padding {
  position: absolute;
  bottom: -2px;
}

.form-error__message {
  font-size: 12px;
  color: #EB5757;
}

.input--noOutline {
  input, textarea {
    border: none;
    background: #F8F8F8;
    border-radius: 36px;
    padding-left: 16px;
  }
}

.input__group-prefix-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 6px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: var(--gray-700, #4a4a4a);
  transition: color 0.2s ease-in-out;

  .input--focus & {
    color: var(--teal-blue-1); // подсветка при фокусе
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

//.input__group-prefix-text {
//  opacity: 0.8;
//  transform: translateX(-2px);
//  transition: all 0.25s ease;
//}
//
//.input:focus + .input__group-append .input__group-prefix-text {
//  opacity: 1;
//  transform: translateX(0);
//}
