:host {
  display: block;
  width: 100%;
}

.skeleton-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--amount-of-columns), 1fr);
  grid-template-rows: repeat(var(--amount-of-rows), 1fr);
  gap: var(--gap-size);
  overflow: hidden;
}

.skeleton-grid__item {
  width: var(--skeleton-item-width);
  height: var(--skeleton-item-height);
}

.skeleton-grid--auto .skeleton-grid__item {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 4;
}


.skeleton-grid__item {
  position: relative;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 12px;
}

@keyframes shimmer {
  100% {
    background-position: -200% 0;
  }
}
