.panel {
  position: fixed;
  bottom: -100px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s ease;
  border-top: 2px solid #2e2e2e;

  &--revealed {
    bottom: 0;
    opacity: 1;
  }
}
