<ng-template #templateRef>
  <p-modal
    [id]="modalId()"
    [titleText]="titleText"
    [submitButtonText]="submitButtonText"
    [cancelButtonText]="cancelButtonText"
    [submitButtonType]="submitButtonType"
    [cancelButtonType]="cancelButtonType"
    [isMobileFullScreen]="isMobileFullScreen"
    [isFlexibleWidth]="isFlexibleWidth"
    [isWithoutPadding]="isWithoutPadding"
    [preventBgClose]="preventBgClose"
    [isSnackbar]="isSnackbar"
    [iconClose]="iconClose"
    [iconCloseWithBackground]="iconCloseWithBackground"
    [titleSize]="titleSize"
    [maxHeight]="maxHeight"
    [maxWidth]="maxWidth"
    [minHeight]="minHeight"
    [backgroundColor]="backgroundColor"
    [backgroundImage]="backgroundImage"
    [isSubmitButtonLoading]="isSubmitButtonLoading"
    [isRoundedLayout]="isRoundedLayout"
    [isScrollToModalTop]="isScrollToModalTop"
    [isModalHeaderSticky]="isModalHeaderSticky"
    (submit)="submit.emit()"
    (buttonCancel)="buttonCancel.emit()"
    (closed)="closed.emit($event)"
    (scrolled)="scrolled.emit($event)">
    <ng-content></ng-content>
  </p-modal>
</ng-template>
