.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;

  .header__name {
    background: linear-gradient(
                    90deg,
                    #64C2DB 13.89%,
                    #7476ED 36.39%,
                    #C994DF 59.2%,
                    #E56F8C 88.89%
    );
    background-size: 200%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.4s ease;
    animation: pulseGradientSlow 3.5s ease-in-out infinite;
  }

  &:hover .header__name {
    //animation: pulseGradientSlow 3.5s ease-in-out infinite;
  }
}

@keyframes pulseGradientSlow {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
