@forward 'shared';
@use "../styles/common/index" as *;
@use "../styles/common/body-blur" as *;
@use "../styles/fonts/import" as *;

.p-page-wrapper {
  display: block;
  max-width: 1400px;
  padding: 0px 20px;
  height: 100%;
  margin: 0 auto;

  @media (min-width: 1200px) {
    padding: 0 10px;
  }

  @media (max-width: 650px) {
    margin-top: 0;
    padding-top: 0;
  }
}


body {
  //@include textFont;
  height: 100vh;
  //font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--first-1);
  overflow-x: hidden;
  background-color: white;

  &.disable-body-scrolling {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  &.body-blur {
    pointer-events: none;

    &:after {
      @include blur-backdrop('light');

      content: '';
      top: 0;
      left: 0;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 10;
    }
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
}

.p-a-reset {
  all: unset;
  display: inline;
  text-decoration: none;
  cursor: default;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  //pointer-events: none;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: inherit;
  white-space: normal;
  text-align: inherit;
  word-break: normal;

  &:hover {
    color: inherit;
  }
}

.noSelect {
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
