<p-home-banner-main
  [title]="'home.main.title'"
  [desc1]="'home.main.desc1'"
  [desc2]="'home.main.desc2'"
  [img]="'home/homeBanner.jpg'"
  type="home"
></p-home-banner-main>

<div class="p-page-wrapper">
  <p-home-services/>
  <p-home-partnership/>
  <p-home-features/>
  
  <p-banner titleText="home.portfolio.title" linkText="home.portfolio.action" linkUrl="/portfolio"
            imgUrl="home/homePortfolio.png"></p-banner>
  
  <section class="action-section">
    <div class="action-container">
      
      <h2 class="action-title">{{ 'home.action.title' | translate }}</h2>
      <p class="action-subtitle">{{ 'home.action.subt' | translate }}</p>
      <button class="action-btn" (click)="openCallbackModal()">{{ 'home.action.action' | translate }}</button>
    
    </div>
  </section>
  
  <p-faqs [items]="faqList()"/>

</div>

<p-callback-wrapper/>
<p-scroll-to-top-button/>
