:host {
  display: flex;
}

.banner {
  position: relative;
  width: 100%;
  border-radius: 28px;
  overflow: hidden;

  background: var(--bg-main, #0f0f10);
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0 0 40px rgba(100, 120, 255, 0.12);

  padding: 3rem;
  display: flex;
  align-items: center;
}

.banner--l { height: 400px; }
.banner--m { height: 260px; }
.banner--s {
  height: 60px;
  padding: 1rem 1.4rem;
}

.banner--bg-full .banner__bg {
  position: absolute;
  inset: 0;
  z-index: 1;

  background: linear-gradient(180deg, rgba(30, 29, 28, 0.16), rgba(22, 21, 20, 0.30));
  box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.12);
}

.banner--bg-full .banner__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: 0.85;
}

.banner--bg-side {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  padding: 3rem;
}

.banner__side-bg {
  position: relative;
  z-index: 1;
  border-radius: 22px;
  overflow: hidden;

  background: linear-gradient(
                  180deg,
                  rgba(250, 245, 236, 0.9),
                  rgba(245, 240, 230, 0.95)
  );
  box-shadow: inset 0 0 80px rgba(0,0,0,0.12);
}

.banner__side-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: 0.85;
}

.banner__content {
  position: relative;
  z-index: 2;
  max-width: 480px;
  display: flex;
  flex-direction: column;
}

.banner--align-left .banner__content { text-align: left; }
.banner--align-center .banner__content { text-align: center; margin: 0 auto; }
.banner--align-right .banner__content { text-align: right; margin-left: auto; }

.banner__title {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1.5rem;
  color: var(--first-1, #e5e8ea);
}

.banner__link {
  display: inline-block;
  padding: 0.7rem 1.4rem;
  border-radius: 14px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  background: #ff7d6c;
  box-shadow: 0 4px 18px rgba(255,125,108,0.25);
  transition: .25s ease;
}

.banner__link:hover {
  background: #f87565;
  //background: #ff8d7d;
  box-shadow: 0 6px 22px rgba(255,125,108,0.35);
}

@media (max-width: 992px) {
  .banner {
    display: flex;
    justify-content: center;
  }

  .banner--align-left .banner__content { text-align: center; }

  .banner {
    height: auto;
    padding: 2rem;
  }

  .banner--bg-side {
    grid-template-columns: 1fr;
  }

  .banner__side-bg {
    height: 200px;
  }
}
